@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.wrapper {
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
    border-radius: 16px;
    background-color: #F3F4F6;
    gap: 0;

}

.wrapper section:nth-child(4) {
    grid-row: 7;

}

main {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;

}

img {
    width: 100%;
    height: auto;
    bottom: 0;
    display: block;
}

h1 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.black {
    color: #000000;
}

section {
    margin: 0 auto;
    padding: 0;
}


section img {
    opacity: 0.6;
}

.our-team-section {
    background-image: url("resources/Background_decor@2x.png");
    color: #000000;
    padding: 2em;
    height: 300px;
}

.our-team-section-text h2 {
    color: #263FA9;
    font-size: 1.2em;
    font-weight: 400;

}

.color-section {
    position: relative;
}

.color-section-text {
    position: absolute;
    top: 288px;
    left: 32px;
}

.text-section {
    position: absolute;
    top: 320px;
    right: 32px;
    white-space: nowrap;
}

section {
    margin: 0 auto;
    width: auto;
    color: #FFFEFE;
}

.purple-section {
    background-color: #C1B6F8;
}

.pink-section {
    background-color: #EDACD2;
}

.blue-section {
    background-color: #9DC4F8;
}

.yellow-section {
    background-color: #F8D8B0;
}

.green-section {
    background-color: #86E7D4;
}

.members {
    position: relative;
    min-height: 400px;
}

@media screen and (min-width: 1024px) {
    .wrapper {
        max-width: 1000px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 327px);
    }

    main {
        max-width: 1000px;
    }

    .our-team-section {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-column: 1/4;
        grid-row: 1;
    }

    .our-team-section-text {
        width: 60%;
    }


    .wrapper section:nth-child(4) {
        grid-row: 3;
    }

    .wrapper section:nth-child(7) {
        border-bottom-right-radius: 16px;
    }

    .color-section-text {
        top: 260px;
        left: 32px;
    }

    .text-section {
        top: 290px;
        right: 8px;
    }



}

@media screen and (min-width: 1280px) {
    .wrapper {
        max-width: 1260px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 310px);
    }

    main {
        max-width: 1260px;
        margin: 0 auto;
    }

    .our-team-section {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-column: 1/3;
    }


    .wrapper section:nth-child(7) {
        border-bottom-right-radius: 16px;
    }

    .wrapper section:nth-child(4) {
        grid-row: 2;
        grid-column: 1;
    }

    .color-section-text {
        top: 230px;
    }

    .text-section {
        top: 270px;
        right: 0px;
    }

}